.app {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}
